.navbar-lewagon {
  background-color: #F8F9FA ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-decoration: none;

  a {
    text-decoration: none;
    color: black;
  }
}
